.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-image: linear-gradient(72deg, #00ffff, #ffffff, #ffc0cb);
  height: 43em;
  background-attachment: fixed;
  padding: 20px;
  row-gap: 10px;
  /* font-family: "Caveat", cursive; */

  font-family: "Kalam", cursive;
}

#stork-baby {
  width: 15em;
  --animate-duration: 3s;
}

.App-link {
  color: #61dafb;
}

.App-body {
  font-family: "Kalam", cursive;
  font-weight: bold;
  padding: 20px;
}

.submit-form {
  display: grid;
  grid-template-columns: 10em 10em;
  grid-template-areas:
    "gender name"
    "gender submit";
  column-gap: 0.5em;
  padding: 5px;
}

#gender {
  grid-area: gender;
  background: #f0f8ff;
  border-color: #ffc0cb;
}

#name-input {
  grid-area: name;
  font-size: 1em;
  width: 9.7em;
}

#babyname {
  background: #f0f8ff;
  border-color: #ffc0cb;
  padding: 4px;
}

#submit-btn {
  grid-area: submit;
  width: 9.5em;
  margin-top: 0.6em;
  font-size: 1em;
  background: #f0f8ff;
  border-color: #ffc0cb;
}

.gender-selection {
  display: flex;
  justify-content: space-between;
}

/* .childNames {
  border: 2px solid aquamarine;
  margin: 1em;
  width: 7em;
  height: 1em;
  padding: 1em;
  border-radius: 25px;
} */

.nameContainer {
  /* display: grid;
  /* grid-template-columns: repeat(5, auto); */
  /* grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  justify-content: space-evenly; */
  display: grid;
  /* grid-template-columns: repeat(5, auto); */
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  grid-column-gap: 1em;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.searchInput {
  margin: 1em;
  font-size: 1.2em;
  border-radius: 30px;
  padding: 0.5em;
  text-align: center;
  border: 2px blue solid;
}

.boyNames {
  background-color: #61dafb;
  margin: 1em;
  width: 5em;
  height: 1em;
  padding: 1em;
  border-radius: 25px;
  border: 2px solid #61dafb;
}

.girlNames {
  background-color: pink;
  margin: 1em;
  width: 5em;
  height: 1em;
  padding: 1em;
  border-radius: 25px;
  border: 2px solid pink;
}
