.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-image: linear-gradient(72deg, #00ffff, #ffffff, #ffc0cb);
  height: 43em;
  background-attachment: fixed;
  padding: 20px;
  row-gap: 10px;
  font-family: "Kalam", cursive;
}

#stork-baby {
  width: 15em;
  --animate-duration: 3s;
}

.header-info {
  margin-bottom: 0;
}

.App-link {
  color: #61dafb;
}

.App-body {
  font-family: "Kalam", cursive;
  font-weight: bold;
  padding: 20px;
}

.submit-form {
  display: grid;
  grid-template-columns: 10em 10em;
  grid-template-areas:
    "gender name"
    "gender submit";
  column-gap: 0.5em;
  padding: 5px;
}

#male {
  accent-color: #1e90ff;
}

#female {
  accent-color: #ff00ff;
}

#neutral {
  accent-color: #08a108;
}

.border-box {
  background: #f0f8ff;
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(45deg, #61dafb, #ffc0cb, #8dfb61) 1;
}

#gender {
  grid-area: gender;
}

#name-input {
  grid-area: name;
  font-size: 1em;
  width: 9.7em;
}

#babyname {
  padding: 4px;
}

#submit-btn {
  grid-area: submit;
  width: 9.5em;
  margin-top: 0.6em;
  font-size: 1em;
}

.gender-selection {
  display: flex;
  justify-content: space-between;
}

.nameContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  grid-column-gap: 1em;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.searchInput {
  margin: 1em;
  font-size: 1.2em;
  padding: 0.5em;
  text-align: center;
}

.boyNames {
  background-color: #61dafb;
  margin: 1em;
  width: 5em;
  height: 1em;
  padding: 1em;
  border-radius: 25px;
  border: 2px solid #61dafb;
}

.girlNames {
  background-color: #ffc0cb;
  margin: 1em;
  width: 5em;
  height: 1em;
  padding: 1em;
  border-radius: 25px;
  border: 2px solid #ffc0cb;
}

.neutralNames {
  background-color: #8dfb61;
  margin: 1em;
  width: 5em;
  height: 1em;
  padding: 1em;
  border-radius: 25px;
  border: 2px solid #8dfb61;
}

@media screen and (min-width: 550px) {
  .submit-form {
    grid-template-areas: "gender name submit";
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }

  #babyname {
    padding: 7px 0;
    font-size: 1.2em;
    width: 7.6em;
  }

  #name-input {
    margin-left: auto;
    margin-right: auto;
  }

  #submit-btn {
    height: 43px;
    margin-top: 26px;
  }
}

@media screen and (min-width: 700px) {
  .App-header {
    height: 31.4em;
  }

  #stork-baby {
    width: 11em;
  }
}

@media screen and (min-width: 1000px) {
  #stork-baby {
    grid-area: picture;
    margin-left: 25px;
  }

  #page-name {
    grid-area: heading;
  }

  #page-info {
    grid-area: info;
  }

  #page-instructions {
    grid-area: instruction;
  }

  .App-header {
    height: 30.2em;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
      "heading heading"
      "info picture"
      "instruction instruction";
    column-gap: 0.5em;
    padding: 5px;
  }
}

@media screen and (min-width: 1200px) {
  #submit-btn {
    height: 2.2em;
    margin-top: 1.3em;
  }

  .border-box {
    border-width: 8px;
  }
}

@media screen and (min-width: 1440px) {
  #stork-baby {
    width: 13em;
  }

  .App-header {
    height: 35.2em;
    padding: 25px;
  }

  .App-body {
    font-size: 2em;
  }

  .boyNames,
  .girlNames,
  .neutralNames {
    border-radius: 55px;
  }

  .border-box {
    border-width: 10px;
  }

  #submit-btn {
    height: 76px;
    margin-top: 40px;
  }

  input[type="radio"] {
    width: 30px;
  }
}
